<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit form</title>
</head>
<body>
    <h2>UserId : <%=contentt.id%></h2>
    <h2>UserName : <%=contentt.User%></h2>
     <form action="/update/<%=contentt.id%>" method="POST" style="margin-top: 50px;">
  <textarea id="content" name="newcontent" rows="8" cols="50" required>
    <%=contentt.msg%>
</textarea>

  <button type="submit">Submit</button>
</form>

</body>
</html>