<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Quora posts</h1>
    <% for(let post of posts){ %>
    <div class="box">
        <h2>username : <%= post.User %></h2>
        <h2>content : <%= post.msg %></h2>
    
       <form action="/editform/<%=post._id%>" method="GET">
          <button>edit</button>
       </form>
    </div>
    <br>
    <br>
    <% } %>
    <a href="/addnew/">add new log</a>

</body>
</html>
