<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new log form</title>
</head>
<body>
   <form action="/postnew" method="POST" style="margin-top: 50px;">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" required><br><br>

  <label for="content">Content:</label><br>
  <textarea id="content" name="content" rows="8" cols="50" required></textarea><br><br>

  <button type="submit">Submit</button>
</form>


    
</body>
</html>