<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view </title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>You can view your post </h1>
    <div class="box">
       <h2>User Id : <%= viewcontent._id%></h2>
       <h2>User Name : <%= viewcontent.User%></h2>
       <h2>User Content : <%= viewcontent.msg%></h2>
    </div>
</body>
</html>