h1{
    color: blueviolet;
}


.box {
    background-color: burlywood;
    width: 40%;           
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;       
    box-sizing: border-box;
    word-wrap: break-word;
}


